<app-products-nav-bar (productEventEmitter)="onQctionEvent($event)"></app-products-nav-bar>
<div class="container">
  <ng-container *ngIf="products$ | async as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="ProductStateEnum.LOADING">
      Loading
    </ng-container>
    <ng-container *ngSwitchCase="ProductStateEnum.ERROR">
      <div class="alert alert-danger" role="alert">
        <strong>{{result.errorMessage}}</strong>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="ProductStateEnum.LOADED">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Selected</th>
            <th scope="col">Available</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        
        <tbody>
          <tr *ngFor="let product of result.data">
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.selected}}</td>
            <td>{{product.available}}</td>
            <td>
              <button (click)="getProductsOnSelected(product)" class="btn btn-sm" [ngClass]="{'btn-success':product.selected,'btn-danger':!product.selected}">
                <span *ngIf="product.selected">Unselected</span>
                <span *ngIf="!product.selected">Selected</span>
              </button>
            </td>
            <td>
              <button (click)="deleteProductsOnSelected(product)"  class="btn btn-dark btn-sm">
                <i class="fa fa-trash"></i>
            </button>
            </td>
            <td>
              <button (click)="editProductsOnSelected(product)" class="btn btn-warning btn-sm">
                <i class="fa fa-pencil"></i>
            </button>
            </td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </ng-container>  
</div>

<div *ngIf="products$" class="container">
    
</div>