<tr *ngIf="product">
    <th scope="row">{{product.id}}</th>
    <td>{{product.name}}</td>
    <td>{{product.price}}</td>
    <td>{{product.quantity}}</td>
    <td>{{product.selected}}</td>
    <td>{{product.available}}</td>
    <td>
      <button (click)="getProductsOnSelected(product)" class="btn btn-sm" [ngClass]="{'btn-success':product.selected,'btn-danger':!product.selected}">
        <span *ngIf="product.selected">Unselected</span>
        <span *ngIf="!product.selected">Selected</span>
      </button>
    </td>
    <td>
      <button (click)="deleteProductsOnSelected(product)"  class="btn btn-dark btn-sm">
        <i class="fa fa-trash"></i>
    </button>
    </td>
    <td>
      <button (click)="editProductsOnSelected(product)" class="btn btn-warning btn-sm">
        <i class="fa fa-pencil"></i>
    </button>
    </td>
  </tr>